<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Vue.js</title>
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/moon.css">
    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-markdown>
          <textarea data-template>
            # VUE.js
            And its ecosystem

            ![](images/vue.png)<!-- .element: style="width:300px;" -->

            Slides by Daniel Climent (github.com/4xposed)<!-- .element: style="font-size: 0.5em !important; float: right;" -->
          </textarea>
        </section>
        <section data-markdown>
          <textarea data-template>
            ## It's my first presentation
            ### so...

            <div class="fragment">
              <h3>bear with me</h3>
              <img alt="" src="images/bear.png" width=300>
            </div>
          </textarea>
        </section>
        <section data-markdown data-separator-notes="^Note:">
          <textarea data-template>
            ## Why Vue.js
            - Has the best documentation I have seen in a while <!-- .element: class="fragment" -->
            - Small learning curve <!-- .element: class="fragment" -->
            - Easy to integrate <!-- .element: class="fragment" -->
            - "Marries" the best of Angular.JS and React <!-- .element: class="fragment" -->
            - Rapidly growing community <!-- .element: class="fragment" -->
            - Good tooling <!-- .element: class="fragment" -->
            - Lightweight (17kb) <!-- .element: class="fragment" -->
            - Fast <!-- .element: class="fragment" -->

            Note:
            - Really well written and explained documentation full of good examples
            - If you know JS and HTML you don't have to learn anything else, forget about JSX and
            other nonsense
            - You can just drop a script tag loading the vue.js library and get to it
            - The community is growing steadily, new _good_ libraries are being released often, and
            it just had it's first international conference
            - The vue CLI is really flexibale and anyone can make a bootstrapping template
          </textarea>
        </section>
        <section data-markdown data-separator-notes="^Note:">
          <textarea data-template>
            ## How does it differ from ... framwork?

            [vuejs.org/v2/guide/comparison.html](vuejs.org/v2/guide/comparison.html)

            ![](images/comparison_qrcode.png) <!-- .element: style="width:300px" -->

            Note:
            I don't really have time nor want to get into details on how vue.js compares to React,
            Angular, or any other, if you want a really good and in details comparison of vue with
            other farmeworks you can read that article.
          </textarea>
        </section>
        <section>
          <section data-markdown>
            <textarea data-template>
              ## Integrating VUE
            </textarea>
          </section>
          <section data-markdown data-separator-notes="^Note:">
            <textarea data-template>
              It can be as simple as loading the library from a CDN and start using right away.
              ```
              <script src="//unpkg.com/vue"></script>

              <div id="app">
                <input v-model="message">
                <p>{{ message }}</p>
              </div>

              <script>
                new Vue({
                  el: '#app',
                  data: {
                    message: ''
                  }
                })
              </script>
              ```
              Note:
              We can just paste this into http://jsfiddle.net
              And just like that, our first vue app is running
            </textarea>
          </section>
          <section>
            <p>Or have a whole webpack build process<br/></p>
            <div class="fragment">
              <p>example of a vue single file Component.vue</p>
              <pre><code class="javascript" style="max-height: 450px !important" data-trim>
              <template>
                <div>
                  <p> {{greeting}} World!</p>
                </div>
              </template>

              <script>
                import OtherComponent from './OtherComponent.vue'
                 export default {
                   data() {
                     return {
                       greeting: 'Hello'
                     }
                   },
                   components: { OtherComponent }
                 }
              </script>
            </code></pre>
            </div>
          </section>
        </section>
        <section>
          <section data-markdown>
            <textarea data-template>
              ## VUEX (state management)
            </textarea>
          </section>
          <section data-markdown>
            <textarea data-template>
              ## VUEX is kindda like REDDUX
              <div class="fragment">
                <h2> BUT SIMPLER</h2>
              </div>
            </textarea>
          </section>
          <section data-markdown data-separator-notes="^Note:">
            <textarea data-template>
              ![](images/vuex.png)
              Note:
              This is the basic idea behind Vuex, inspired by Flux, Redux and The Elm
              Architecture. Unlike the other patterns, Vuex is also a library implementation
              tailored specifically for Vue.js to take advantage of its granular reactivity system
              for efficient updates.

              Application-level state is centralized in the store.

              The only way to mutate the state is by committing mutations, which are synchronous
              transactions.

              Asynchronous logic should be encapsulated in, and can be composed with actions.
            </textarea>
          </section>
          <section>
              <h5>Ok, but...</h5>
              <p>How does this look in real life?</p>
              <pre style="width: 95%"><code class="javascript" style="max-height: 490px !important" data-trim>
                new Vuex.Store({
                  strict: true,
                  state: {
                    todos: [],
                  },
                  mutations: {
                    add (state, {todo}) {
                      state.todos.push(todo)
                    }
                  },
                  getters: {
                    completed: state => state.todos.filter(todo => todo.completed),
                  },
                  actions: {
                    addTodo ({commit, state}, todo) {
                      commit('add', {todo})
                    }
                  }
                })
               </code></pre>
          </section>
          <section data-markdown data-separator-notes="^Note:">
            <textarea data-template>
              # DEMO TIME

              Note:
              url here
            </textarea>
          </section>
        </section>
        <section data-markdown data-separator-notes="^Note:">
          <textarea data-template>
            ## NUXT (Server Side Rendering)
            ### Made simple

            ![](images/nuxt_tree.png) <!-- .element: width="330px" -->

            Note:
            Nuext makes server side rendering in Vue really simple, and the benefits are great,
            like:
            - Forget about having problems with Google's bots
            - The initial load of your site will be the smallest possible
            - You'll be able to support users with JS disabled
          </textarea>
        </section>
        <section data-markdown
          data-separator="^\n\n\n"
          data-separator-vertical="^---"
          data-separator-notes="^Note:">
          <textarea data-template>
            # VUE CLI

            Note:
            Vue's CLI is really flexible, it's based on "bootstrapping templates" which anyone can
            develop and share, some tempaltes are more opinionated than others, so just take a look
            at a couple and pick the one you like the most

            ---
            ## How to install it:
            ```bash
            $ yarn global add vue-cli
            ```
            ---
            ## How to use it with default templates

            ```bash
            $ vue init <template-name> <project-name>


            $ vue init webpack todos_demo

            ```

            ![](images/cli_wizard.png) <!-- .element style="height: 400px" -->

            ---
            ## How to use it with 3rd party tamplates
            ```bash
            $ vue init <github-name>/<repo-name> <project-name>


            $ vue init egoist/vuepack todos_demo
            ```
          </textarea>
        </section>
        <section data-markdown
          data-separator="^\n\n\n"
          data-separator-vertical="^---"
          data-separator-notes="^Note:">
          <textarea data-template>
            ## What about mobile apps?

            Note:
            Vue has really good libraries to make Progressive Web Apps
            Offline-first, sync with the net, can be added to your phone's homescreen,...
            but I'm gonna cover two other ways to build mobile apps with vuejs

            ---

            # Weex
            ![](images/weex.png)<!-- .element: style="height:120px;" -->

            Note:
            This is Vue's equivalent of React Native,
            A project that was started by the chinese conglomerate Alibaba, and now is being
            developed by an incubator at the Apache Software Foundation.


            It just had it's first official release a few days ago.

            ---

            # NativeScript Vue

            ![](images/native_script_vue.jpg)<!-- .element: style="height:120px;" -->

            Note:
            Vue's integration on nativescript it's on its early stages, but already functional
          </textarea>
        </section>
        <section data-markdown
          data-separator="^\n\n\n"
          data-separator-vertical="^---"
          data-separator-notes="^Note:">
          <textarea data-template>
            ## But is it really relevant?
            ### Does anyone even use this thing?

            ![](images/trends.png) <!-- .element: class="fragment" -->

            Note:
            On Google Trends we can see it cought up with React in just 12 months

            ---

            # Who is using Vue.js
            ![](images/euronews_logo.png)<!-- .element: style="height:120px;" -->
            ![](images/nintendo_logo.png)<!-- .element: style="height:120px;" -->
            ![](images/codeship.png)<!-- .element: style="height:150px;" -->
            ![](images/expedia.png)<!-- .element: style="height:150px;" -->
            ![](images/line.png)<!-- .element: style="height:150px;" -->
            ![](images/gitlab.png)<!-- .element: style="height:150px;" -->
            ![](images/alibaba_logo.jpg)<!-- .element: style="height:100px;" -->
            ![](images/baidu.png)<!-- .element: style="height:60px;" -->
            ![](images/playcode_logo.png)<!-- .element: style="height:100px;" -->
            ![](images/distrochooser.png)<!-- .element: style="height:40px;" -->

            ---
            ![](images/fb_logo.png)<!-- .element: style="width:120px;" -->
            ## No kidding
            ![](images/fb_newsfeed.png)

            Note:
          </textarea>
        </section>
        <section data-markdown
          data-separator="^\n\n\n"
          data-separator-vertical="^---"
          data-separator-notes="^Note:">
          <textarea data-template>
            ## Ok... sold
            ### Where to now?

            # Build something <!-- .element: class="fragment" -->

            Note:
            Just build something following the docs, you will find that you have no trouble at all

            ---

            ## Any courses though?

            ![](images/egghead.png)

            Note:
            We have a company account, so nock you self out

            ---

            # Thank you!
          </textarea>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>
      Reveal.initialize({
        controls: false,
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
    </script>
  </body>
</html>
